<html>
<head>
    <title>Конвертуля</title>

    <!-- Заменить на локали -->
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <!-- <link href="https://a2t.evapps.ru/static/styles.css" rel="stylesheet"> -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Bootstrap #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
        crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 class="main_title">Конвертер видео в текст «Конвертуля»</h1>

            {# Форма для передачи видео #}
            <div class="col-md-2">
                <form method="post" action="/convert_video/" enctype="multipart/form-data" id="converter_form">
                    <div class="input-file-row">
                        <label class="input-file">
                            <input type="file" name="file" accept="video/*, audio/*" id="file_select">
                            <span>Выберите файл</span>
                        </label>
                        <div class="input-file-list"></div>
                    </div>
                </form>
            </div>

            <div class="col-md-2">Минуты: <span id="progress_bar">0/0</span></div>

            {# Форма с текстом #}
            <div class="col-md-8">
                <div id="convert_form" class="convert_form"></div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    let dt = new DataTransfer();

    async function convert_video_to_text(total_minutes){
        $('#progress_bar').text(`0/${total_minutes}`);

        for (let min = 0; min < total_minutes; min++) {
            let formData = new FormData();
            formData.append('min', min);

            await $.ajax({
                url: "/convert_video/",
                type: "post",
                data: formData,
                method: "post",
                contentType: false,
                processData: false,
                contentType: "application/json",
                success: function(data) {
                    $('#convert_form').append(data.text)
                    $('#progress_bar').text(`${min + 1}/${total_minutes}`);
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.log(`Не могу конвертировать минуту ${min}`)
                }
            });
        }
    }

    $('.input-file input[type=file]').on('change', function(){
        let $files_list = $(this).closest('.input-file').next();
        $files_list.empty();

        for(let i = 0; i < this.files.length; i++){
            let file = this.files.item(i);
            dt.items.add(file);

            let reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onloadend = function(){
                let new_file_input = '<div class="input-file-list-item">' +
                    '<span class="input-file-list-name">' + file.name + '</span>'
                '</div>';
                $files_list.append(new_file_input);
            }
        };
        this.files = dt.files;
    });

    $("#file_select").on('change', async function(){
        $('#convert_form').empty();

        let formData = new FormData();
        let file = $('#file_select')[0].files[0];

        formData.append('file', file);

        await $.ajax({
            url: "/create_converter/",
            type: "post",
            data: formData,
            method: "post",
            contentType: false,
            processData: false,
            contentType: "application/json",
            error: function(xhr, textStatus, errorThrown) {
                console.log(xhr)
                alert(`Произошла ошибка - ${errorThrown}`)
            }
        });

        await $.ajax({
            url: "/get_video_minutes/",
            type: "get",
            method: "get",
            success: async function(data) {
                await convert_video_to_text(data.total_minutes);

                await $.ajax({
                    url: "/close_converter/",
                    type: "get",
                    method: "get",
                    error: function(xhr, textStatus, errorThrown) {
                        console.log(xhr)
                        alert(`Произошла ошибка - ${errorThrown}`)
                    }
                });
            },
            error: await function(xhr, textStatus, errorThrown) {
                console.log(xhr)
                alert(`Произошла ошибка - ${errorThrown}`)
            }
        });
    });
</script>